

.navbar {
  display: flex;
}

























.float-right {
  float: right;
}

.float-left {
  float: left;
}


.link {
  color: white;
}

.llink {
  display: block;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
}

li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
}

.padding-10px {
  padding: 10px;
}


.link:hover {
  background-color: #C5BAAF;
  cursor: pointer;
  color: black;
}

.logo {
  color: #ffef00;
  font-size: 32px;
  padding-right: 10px;
  
}

.padding-right {
  padding-right: 50px;
}

.logo {
	background-image: -webkit-linear-gradient(92deg, #ffef00, #ffef00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 1s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.float-right {
  float: right
}
