
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.link {
  color: white;
}

li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
}

.link:hover {
  background-color: #C5BAAF;
  cursor: pointer;
  color: black;
}

.logo {
  color: #c60e0e;
}

.logo {
	background-image: -webkit-linear-gradient(92deg, #ffef00, #26337b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 1s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
