body, h1, h2, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #35654D; /* Background color in case the image is not available or doesn't cover the whole page */
}

