/* styles.css */

.roundedInput {
  border-radius: 8px;
}

.coinflipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.coinContainer {
  margin-right: 0px; /* Adjust the margin as needed */
}

.coin-animation {
  cursor: pointer;
}
